.activeStyle {
  text-decoration: none;
  color: lightgreen;
  font-size: 20px;
}

.nActiveStyle {
  text-decoration: none;
  color: black;
  
}
#buttonMove{
  transition: 2s;
}
#trigger{
  transition: 2s;
}