.activeStyle {
  text-decoration: none;
  color: lightgreen;
  font-size: 20px;
}

.nActiveStyle {
  text-decoration: none;
  color: black;

}

#buttonMove {
  transition: 2s;
}

#trigger {
  transition: 2s;
}

.Welcome img {
  border-radius: 25px;
  animation: slower 2s ease forwards;
}
@keyframes slower {
  0% {
    width: 0px;
  }

  50% {
    width: 130px;
  }
  100%{
    width: 100px;
  }
}
#loggedIn{
  transition: 2s;
  animation: dissapear 2s ease forwards;
}
@keyframes dissapear {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}